/*
--------------------------------------------------------------------------
  ROOT
--------------------------------------------------------------------------
*/

:root {

  // Add your project related custom variables here

}


/*
--------------------------------------------------------------------------
  BODY
--------------------------------------------------------------------------
*/

body {
  margin: 0;
  background-color: var(--white); // As a best practice, apply a default background-color
  color: var(--text);
  font-family: var(--ff-body);
  font-size: var(--body-size); // edit body sizes for each breakpoint in config.scss
  font-weight: normal;
  line-height: 1.6;
  text-align: left;
  letter-spacing: 0.02em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*
--------------------------------------------------------------------------
  PLACEHOLDER
--------------------------------------------------------------------------
*/

::placeholder {
  color: #2c3e50;
  opacity: 1;
}


/*
--------------------------------------------------------------------------
  FOCUS
--------------------------------------------------------------------------

  Focus outline is set to none, but if user press the Tab key,
  the outline focus class is added to body with JS for a11y

*/

:focus {
  outline: none;

  .outline-focus & {
    outline: thin dotted;
    outline-color: #80828a;
  }
}

::-moz-focus-inner {
  border-style: none; // Remove the inner border and padding in Firefox
  padding: 0;
}


/*
--------------------------------------------------------------------------
  SELECTION
--------------------------------------------------------------------------
*/

/*

Uncomment if you want to change the selection color
Be sure to keep a good contrast ratio

::selection {
  background: #ffb7b7; // WebKit/Blink Browsers
}
::-moz-selection {
  background: #ffb7b7; // Gecko Browsers
}

*/


/*
--------------------------------------------------------------------------
  HR - Horizontal rules
--------------------------------------------------------------------------
*/

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #111;
}



/*
--------------------------------------------------------------------------
  EMPHASIS
--------------------------------------------------------------------------
*/

small,
figcaption,
.small {
  font-size: 0.9em;
  line-height: 1.4;
}

mark,
.mark {
  padding: 0.2em;
  background-color: #fcf8e3;
  color: #000;
}
