
/* Global margin bottom */

$spacingXs: 4.5rem;
$spacingSm: 5rem;
$spacingMd: 5rem;
$spacingXl: 6rem;


@mixin default($property, $orientation) {
  #{$property}-#{$orientation}: $spacingXs;
  @include media-breakpoint-up(sm) { #{$property}-#{$orientation}: $spacingSm; }
  @include media-breakpoint-up(md) { #{$property}-#{$orientation}: $spacingMd; }
  @include media-breakpoint-up(xl) { #{$property}-#{$orientation}: $spacingXl; }
}

.mb { @include default(margin, bottom); }
.mt{ @include default(margin, top); }
.pb{ @include default(padding, bottom); }
.pt { @include default(padding, top); }


@mixin one-third($property, $orientation) {
  #{$property}-#{$orientation}: $spacingXs * 0.33;
  @include media-breakpoint-up(sm) { #{$property}-#{$orientation}: $spacingSm * 0.33; }
  @include media-breakpoint-up(md) { #{$property}-#{$orientation}: $spacingMd * 0.33; }
  @include media-breakpoint-up(xl) { #{$property}-#{$orientation}: $spacingXl * 0.33; }
}

.mb-1\/3 { @include one-third(margin, bottom); }
.mt-1\/3 { @include one-third(margin, top); }
.pb-1\/3 { @include one-third(padding, bottom); }
.pt-1\/3 { @include one-third(padding, top); }


@mixin two-third($property, $orientation) {
  #{$property}-#{$orientation}: $spacingXs * 0.66;
  @include media-breakpoint-up(sm) { #{$property}-#{$orientation}: $spacingSm * 0.66; }
  @include media-breakpoint-up(md) { #{$property}-#{$orientation}: $spacingMd * 0.66; }
  @include media-breakpoint-up(xl) { #{$property}-#{$orientation}: $spacingXl * 0.66; }
}


.mb-2\/3 { @include two-third(margin, bottom); }
.mt-2\/3 { @include two-third(margin, top); }
.pb-2\/3 { @include two-third(padding, bottom); }
.pt-2\/3 { @include two-third(padding, top); }


@mixin one-quarter($property, $orientation) {
  #{$property}-#{$orientation}: $spacingXs * 0.25;
  @include media-breakpoint-up(sm) { #{$property}-#{$orientation}: $spacingSm * 0.25; }
  @include media-breakpoint-up(md) { #{$property}-#{$orientation}: $spacingMd * 0.25; }
  @include media-breakpoint-up(xl) { #{$property}-#{$orientation}: $spacingXl * 0.25; }
}

.mb-1\/4 { @include one-quarter(margin, bottom); }
.mt-1\/4 { @include one-quarter(margin, top); }
.pb-1\/4 { @include one-quarter(padding, bottom); }
.pt-1\/4 { @include one-quarter(padding, top); }

@mixin three-quarter($property, $orientation) {
  #{$property}-#{$orientation}: $spacingXs * 0.75;
  @include media-breakpoint-up(sm) { #{$property}-#{$orientation}: $spacingSm * 0.75; }
  @include media-breakpoint-up(md) { #{$property}-#{$orientation}: $spacingMd * 0.75; }
  @include media-breakpoint-up(xl) { #{$property}-#{$orientation}: $spacingXl * 0.75; }
}

.mb-3\/4 { @include three-quarter(margin, bottom); }
.mt-3\/4 { @include three-quarter(margin, top); }
.pb-3\/4 { @include three-quarter(padding, bottom); }
.pt-3\/4 { @include three-quarter(padding, top); }



@mixin half($property, $orientation) {
  #{$property}-#{$orientation}: $spacingXs * 0.5;
  @include media-breakpoint-up(sm) { #{$property}-#{$orientation}: $spacingSm * 0.5; }
  @include media-breakpoint-up(md) { #{$property}-#{$orientation}: $spacingMd * 0.5; }
  @include media-breakpoint-up(xl) { #{$property}-#{$orientation}: $spacingXl * 0.5; }
}

.mb-1\/2 { @include half(margin, bottom); }
.mt-1\/2 { @include half(margin, top); }
.pb-1\/2 { @include half(padding, bottom); }
.pt-1\/2{ @include half(padding, top); }



/*
* SPACING UTILITIES
* -----------------------------------------------------------------------------------------------*/


// Use this on container or row to create a small width textblock
.narrow-content {
	max-width: 900px;
	margin: auto;
}

.last-child-no-margin *:last-child {
	margin-bottom: 0;
}
