


/*
* UTILITY CLASSES
* -----------------------------------------------------------------------------------------------*/

.no-bullet {
  @include no-bullet;
}


.title-02 {
  @include title-02($turquoise01);
  margin: 0 0 1.3em;
}

.title-03 {
  @include title-03($turquoise01);
  margin: 0 0 1.3em;
}

.title-04 {
  @include title-04($turquoise01);
  margin: 0 0 1.3em;
}

.title-05 {
  @include title-05($turquoise01);
  margin: 0 0 1.3em;
}

.accroche {
  @include accroche;
}

.smaller-note {
  color: $grey04;
  font-size: 0.9em;
  font-style: italic;
}
