/*
* UTILITY CLASSES
* -----------------------------------------------------------------------------------------------*/

.no-bullet {
  list-style: none;
  padding-left: 0;
}

.title-02 {
  @include title-02($primary);
  margin: 0 0 1.3em;
}

.title-03 {
  @include title-03($primary);
  margin: 0 0 1.3em;
}

.title-04 {
  @include title-04($primary);
  margin: 0 0 1.3em;
}

.title-05 {
  @include title-05($primary);
  margin: 0 0 1.3em;
}
