/*
* Stretched link
* -----------------------------------------------------------------------------------------------*/


.stretched-link {
  &::after {
    background-color: rgba(0, 0, 0, 0);
    bottom: 0;
    content: '';
    left: 0;
    pointer-events: auto;
    position: absolute;
    // Just in case pointer-events: none is set on a parent
    right: 0;
    top: 0;
    // IE10 bugfix, see https://stackoverflow.com/questions/16947967/ie10-hover-pseudo-class-doesnt-work-without-background-color
    z-index: 1;
  }
}


/*
* CSS LAZYLOAD OPACITY
*
* Par Ian, plus doux que le blur. Color appliqué sur le picture tag et image qui load en opacity.
* Voir le site de Youtube pour inspiration - placeholder de couleur
* Le background color doit etre mise sur le picture tag
*
* -----------------------------------------------------------------------------------------------*/


.lazyload-opacity {
  opacity: 0;

  &.lazyloaded,
  &.ls-is-cached {
    @include transitionInEase(all);
    opacity: 1;
  }

}

/*
* Collapse and fade
* -----------------------------------------------------------------------------------------------*/


.fade {
  transition: opacity 0.15s linear;

  &:not(.show) {
    opacity: 0;
  }
}

.collapse {
  &:not(.show) {
    display: none;
  }
}

.collapsing {
  height: 0;
  overflow: hidden;
  position: relative;
  transition: height 0.45s ease;
}


/*
* Screenreaders
* -----------------------------------------------------------------------------------------------*/


.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.sr-only-focusable {
  &:active,
  &:focus {
    clip: auto;
    height: auto;
    overflow: visible;
    position: static;
    white-space: normal;
    width: auto;
  }
}
