{
  "name": "craft",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "src/js/theme.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"web/dist/theme.min.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "src/sass/theme.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"web/dist/theme.min.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "src/js/prepros.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"web/dist/theme.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "src/sass/prepros.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"web/dist/theme.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "src",
      "src/js",
      "src/sass",
      "src/js/parts"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "src/js/prepros.js",
      "imports": [
        "src/lib/node_modules/jquery/dist/jquery.js",
        "src/lib/node_modules/flickity/dist/flickity.pkgd.js",
        "src/lib/node_modules/bootstrap/js/dist/util.js",
        "src/lib/node_modules/bootstrap/js/dist/collapse.js",
        "src/lib/node_modules/bootstrap/js/dist/dropdown.js",
        "src/js/parts/main.js",
        "src/js/parts/menus.js",
        "src/js/parts/shrink-nav.js",
        "src/js/parts/accordions.js"
      ]
    },
    {
      "path": "src/sass/prepros.scss",
      "imports": [
        "src/sass/abstracts/_variables.scss",
        "src/sass/abstracts/_mixins.scss",
        "src/lib/node_modules/bootstrap/scss/_functions.scss",
        "src/lib/node_modules/bootstrap/scss/_variables.scss",
        "src/lib/node_modules/bootstrap/scss/_mixins.scss",
        "src/lib/node_modules/bootstrap/scss/_root.scss",
        "src/lib/node_modules/bootstrap/scss/_reboot.scss",
        "src/lib/node_modules/bootstrap/scss/_type.scss",
        "src/lib/node_modules/bootstrap/scss/_images.scss",
        "src/lib/node_modules/bootstrap/scss/_code.scss",
        "src/lib/node_modules/bootstrap/scss/_grid.scss",
        "src/lib/node_modules/bootstrap/scss/_tables.scss",
        "src/lib/node_modules/bootstrap/scss/_forms.scss",
        "src/lib/node_modules/bootstrap/scss/_buttons.scss",
        "src/lib/node_modules/bootstrap/scss/_transitions.scss",
        "src/lib/node_modules/bootstrap/scss/_dropdown.scss",
        "src/lib/node_modules/bootstrap/scss/_button-group.scss",
        "src/lib/node_modules/bootstrap/scss/_input-group.scss",
        "src/lib/node_modules/bootstrap/scss/_custom-forms.scss",
        "src/lib/node_modules/bootstrap/scss/_nav.scss",
        "src/lib/node_modules/bootstrap/scss/_navbar.scss",
        "src/lib/node_modules/bootstrap/scss/_card.scss",
        "src/lib/node_modules/bootstrap/scss/_breadcrumb.scss",
        "src/lib/node_modules/bootstrap/scss/_pagination.scss",
        "src/lib/node_modules/bootstrap/scss/_alert.scss",
        "src/lib/node_modules/bootstrap/scss/_progress.scss",
        "src/lib/node_modules/bootstrap/scss/_media.scss",
        "src/lib/node_modules/bootstrap/scss/_close.scss",
        "src/lib/node_modules/bootstrap/scss/_modal.scss",
        "src/lib/node_modules/bootstrap/scss/_tooltip.scss",
        "src/lib/node_modules/bootstrap/scss/_popover.scss",
        "src/lib/node_modules/bootstrap/scss/_carousel.scss",
        "src/lib/node_modules/bootstrap/scss/_utilities.scss",
        "src/lib/node_modules/bootstrap/scss/_print.scss",
        "src/sass/base/_reset.scss",
        "src/sass/base/_typography.scss",
        "src/sass/base/_icomoon.scss",
        "src/sass/base/_icons.scss",
        "src/sass/base/_colors.scss",
        "src/sass/layout/_navbar.scss",
        "src/sass/layout/_nav-hamburger.scss",
        "src/sass/layout/_nav-meganav.scss",
        "src/sass/layout/_header.scss",
        "src/sass/layout/_footer.scss",
        "src/sass/components/_buttons.scss",
        "src/sass/components/_sidemenu.scss",
        "src/sass/pages/_blog.scss",
        "src/sass/pages/_404.scss",
        "src/sass/theme/_theme.scss",
        "src/sass/vendor/_aos-custom.scss",
        "src/lib/node_modules/bootstrap/scss/vendor/_rfs.scss",
        "src/lib/node_modules/bootstrap/scss/mixins/_deprecate.scss",
        "src/lib/node_modules/bootstrap/scss/mixins/_breakpoints.scss",
        "src/lib/node_modules/bootstrap/scss/mixins/_hover.scss",
        "src/lib/node_modules/bootstrap/scss/mixins/_image.scss",
        "src/lib/node_modules/bootstrap/scss/mixins/_badge.scss",
        "src/lib/node_modules/bootstrap/scss/mixins/_resize.scss",
        "src/lib/node_modules/bootstrap/scss/mixins/_screen-reader.scss",
        "src/lib/node_modules/bootstrap/scss/mixins/_size.scss",
        "src/lib/node_modules/bootstrap/scss/mixins/_reset-text.scss",
        "src/lib/node_modules/bootstrap/scss/mixins/_text-emphasis.scss",
        "src/lib/node_modules/bootstrap/scss/mixins/_text-hide.scss",
        "src/lib/node_modules/bootstrap/scss/mixins/_text-truncate.scss",
        "src/lib/node_modules/bootstrap/scss/mixins/_visibility.scss",
        "src/lib/node_modules/bootstrap/scss/mixins/_alert.scss",
        "src/lib/node_modules/bootstrap/scss/mixins/_buttons.scss",
        "src/lib/node_modules/bootstrap/scss/mixins/_caret.scss",
        "src/lib/node_modules/bootstrap/scss/mixins/_pagination.scss",
        "src/lib/node_modules/bootstrap/scss/mixins/_lists.scss",
        "src/lib/node_modules/bootstrap/scss/mixins/_list-group.scss",
        "src/lib/node_modules/bootstrap/scss/mixins/_nav-divider.scss",
        "src/lib/node_modules/bootstrap/scss/mixins/_forms.scss",
        "src/lib/node_modules/bootstrap/scss/mixins/_table-row.scss",
        "src/lib/node_modules/bootstrap/scss/mixins/_background-variant.scss",
        "src/lib/node_modules/bootstrap/scss/mixins/_border-radius.scss",
        "src/lib/node_modules/bootstrap/scss/mixins/_box-shadow.scss",
        "src/lib/node_modules/bootstrap/scss/mixins/_gradients.scss",
        "src/lib/node_modules/bootstrap/scss/mixins/_transition.scss",
        "src/lib/node_modules/bootstrap/scss/mixins/_clearfix.scss",
        "src/lib/node_modules/bootstrap/scss/mixins/_grid-framework.scss",
        "src/lib/node_modules/bootstrap/scss/mixins/_grid.scss",
        "src/lib/node_modules/bootstrap/scss/mixins/_float.scss",
        "src/lib/node_modules/bootstrap/scss/utilities/_align.scss",
        "src/lib/node_modules/bootstrap/scss/utilities/_background.scss",
        "src/lib/node_modules/bootstrap/scss/utilities/_borders.scss",
        "src/lib/node_modules/bootstrap/scss/utilities/_clearfix.scss",
        "src/lib/node_modules/bootstrap/scss/utilities/_display.scss",
        "src/lib/node_modules/bootstrap/scss/utilities/_embed.scss",
        "src/lib/node_modules/bootstrap/scss/utilities/_flex.scss",
        "src/lib/node_modules/bootstrap/scss/utilities/_float.scss",
        "src/lib/node_modules/bootstrap/scss/utilities/_overflow.scss",
        "src/lib/node_modules/bootstrap/scss/utilities/_position.scss",
        "src/lib/node_modules/bootstrap/scss/utilities/_screenreaders.scss",
        "src/lib/node_modules/bootstrap/scss/utilities/_shadows.scss",
        "src/lib/node_modules/bootstrap/scss/utilities/_sizing.scss",
        "src/lib/node_modules/bootstrap/scss/utilities/_stretched-link.scss",
        "src/lib/node_modules/bootstrap/scss/utilities/_spacing.scss",
        "src/lib/node_modules/bootstrap/scss/utilities/_text.scss",
        "src/lib/node_modules/bootstrap/scss/utilities/_visibility.scss"
      ]
    },
    {
      "path": "web/cpresources/220c7b87/css/craft.scss",
      "imports": [
        "web/cpresources/220c7b87/css/_reset.scss",
        "web/cpresources/220c7b87/css/_main.scss",
        "web/cpresources/220c7b87/css/_cp.scss",
        "web/cpresources/220c7b87/css/_fld.scss",
        "web/cpresources/220c7b87/css/_image_editor.scss",
        "web/cpresources/220c7b87/css/_shame.scss"
      ]
    },
    {
      "path": "web/cpresources/fe9576a2/css/craft.scss",
      "imports": [
        "web/cpresources/fe9576a2/css/_reset.scss",
        "web/cpresources/fe9576a2/css/_main.scss",
        "web/cpresources/fe9576a2/css/_cp.scss",
        "web/cpresources/fe9576a2/css/_fld.scss",
        "web/cpresources/fe9576a2/css/_image_editor.scss",
        "web/cpresources/fe9576a2/css/_shame.scss"
      ]
    },
    {
      "path": "vendor/yiisoft/yii2-debug/src/assets/scss/main.scss",
      "imports": [
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_functions.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_variables.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_mixins.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_reboot.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_type.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_grid.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_tables.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_forms.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_input-group.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_buttons.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_transitions.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_dropdown.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_button-group.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_nav.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_badge.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_pagination.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_tooltip.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_list-group.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_utilities.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/vendor/_rfs.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_deprecate.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_breakpoints.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_hover.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_image.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_badge.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_resize.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_screen-reader.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_size.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_reset-text.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_text-emphasis.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_text-hide.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_text-truncate.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_visibility.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_alert.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_buttons.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_caret.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_pagination.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_lists.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_list-group.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_nav-divider.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_forms.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_table-row.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_background-variant.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_border-radius.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_box-shadow.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_gradients.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_transition.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_clearfix.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_grid-framework.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_grid.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_float.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_align.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_background.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_borders.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_clearfix.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_display.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_embed.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_flex.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_float.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_overflow.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_position.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_screenreaders.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_shadows.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_sizing.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_stretched-link.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_spacing.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_text.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_visibility.scss"
      ]
    },
    {
      "path": "vendor/yiisoft/yii2-debug/src/assets/scss/toolbar.scss",
      "imports": [
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_functions.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_variables.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_mixins.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/vendor/_rfs.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_deprecate.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_breakpoints.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_hover.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_image.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_badge.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_resize.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_screen-reader.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_size.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_reset-text.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_text-emphasis.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_text-hide.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_text-truncate.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_visibility.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_alert.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_buttons.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_caret.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_pagination.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_lists.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_list-group.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_nav-divider.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_forms.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_table-row.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_background-variant.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_border-radius.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_box-shadow.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_gradients.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_transition.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_clearfix.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_grid-framework.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_grid.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_float.scss"
      ]
    },
    {
      "path": "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_mixins.scss",
      "imports": [
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/vendor/_rfs.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_deprecate.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_breakpoints.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_hover.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_image.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_badge.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_resize.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_screen-reader.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_size.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_reset-text.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_text-emphasis.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_text-hide.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_text-truncate.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_visibility.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_alert.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_buttons.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_caret.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_pagination.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_lists.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_list-group.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_nav-divider.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_forms.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_table-row.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_background-variant.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_border-radius.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_box-shadow.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_gradients.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_transition.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_clearfix.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_grid-framework.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_grid.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_float.scss"
      ]
    },
    {
      "path": "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_utilities.scss",
      "imports": [
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_align.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_background.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_borders.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_clearfix.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_display.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_embed.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_flex.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_float.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_overflow.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_position.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_screenreaders.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_shadows.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_sizing.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_stretched-link.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_spacing.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_text.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_visibility.scss"
      ]
    },
    {
      "path": "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/bootstrap-grid.scss",
      "imports": [
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_functions.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_variables.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_breakpoints.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_grid-framework.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_grid.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_grid.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_display.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_flex.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_spacing.scss"
      ]
    },
    {
      "path": "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/bootstrap-reboot.scss",
      "imports": [
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_functions.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_variables.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_mixins.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_reboot.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/vendor/_rfs.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_deprecate.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_breakpoints.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_hover.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_image.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_badge.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_resize.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_screen-reader.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_size.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_reset-text.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_text-emphasis.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_text-hide.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_text-truncate.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_visibility.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_alert.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_buttons.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_caret.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_pagination.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_lists.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_list-group.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_nav-divider.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_forms.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_table-row.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_background-variant.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_border-radius.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_box-shadow.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_gradients.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_transition.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_clearfix.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_grid-framework.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_grid.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_float.scss"
      ]
    },
    {
      "path": "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/bootstrap.scss",
      "imports": [
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_functions.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_variables.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_mixins.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_root.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_reboot.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_type.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_images.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_code.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_grid.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_tables.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_forms.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_buttons.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_transitions.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_dropdown.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_button-group.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_input-group.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_custom-forms.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_nav.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_navbar.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_card.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_breadcrumb.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_pagination.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_badge.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_jumbotron.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_alert.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_progress.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_media.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_list-group.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_close.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_toasts.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_modal.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_tooltip.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_popover.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_carousel.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_spinners.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_utilities.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/_print.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/vendor/_rfs.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_deprecate.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_breakpoints.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_hover.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_image.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_badge.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_resize.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_screen-reader.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_size.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_reset-text.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_text-emphasis.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_text-hide.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_text-truncate.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_visibility.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_alert.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_buttons.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_caret.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_pagination.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_lists.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_list-group.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_nav-divider.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_forms.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_table-row.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_background-variant.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_border-radius.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_box-shadow.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_gradients.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_transition.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_clearfix.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_grid-framework.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_grid.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/mixins/_float.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_align.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_background.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_borders.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_clearfix.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_display.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_embed.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_flex.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_float.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_overflow.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_position.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_screenreaders.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_shadows.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_sizing.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_stretched-link.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_spacing.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_text.scss",
        "vendor/yiisoft/yii2-debug/src/assets/scss/bs-4.3.1/utilities/_visibility.scss"
      ]
    },
    {
      "path": "vendor/craftcms/cms/src/web/assets/craftsupport/dist/CraftSupportWidget.scss",
      "imports": [
        "vendor/craftcms/cms/lib/craftcms-sass/_mixins.scss"
      ]
    },
    {
      "path": "vendor/craftcms/cms/src/web/assets/dashboard/dist/dashboard.scss",
      "imports": [
        "vendor/craftcms/cms/lib/craftcms-sass/_mixins.scss"
      ]
    },
    {
      "path": "vendor/craftcms/cms/src/web/assets/deprecationerrors/dist/deprecator.scss",
      "imports": [
        "vendor/craftcms/cms/lib/craftcms-sass/_mixins.scss"
      ]
    },
    {
      "path": "vendor/craftcms/cms/src/web/assets/editcategory/dist/category.scss",
      "imports": [
        "vendor/craftcms/cms/lib/craftcms-sass/_mixins.scss"
      ]
    },
    {
      "path": "vendor/craftcms/cms/src/web/assets/editentry/dist/entry.scss",
      "imports": [
        "vendor/craftcms/cms/lib/craftcms-sass/_mixins.scss"
      ]
    },
    {
      "path": "vendor/craftcms/cms/src/web/assets/edittransform/dist/transforms.scss",
      "imports": [
        "vendor/craftcms/cms/lib/craftcms-sass/_mixins.scss"
      ]
    },
    {
      "path": "vendor/craftcms/cms/src/web/assets/edituser/dist/account.scss",
      "imports": [
        "vendor/craftcms/cms/lib/craftcms-sass/_mixins.scss"
      ]
    },
    {
      "path": "vendor/craftcms/cms/src/web/assets/edituser/dist/profile.scss",
      "imports": [
        "vendor/craftcms/cms/lib/craftcms-sass/_mixins.scss"
      ]
    },
    {
      "path": "vendor/craftcms/cms/src/web/assets/generalsettings/dist/rebrand.scss",
      "imports": [
        "vendor/craftcms/cms/lib/craftcms-sass/_mixins.scss"
      ]
    },
    {
      "path": "vendor/craftcms/cms/src/web/assets/graphiql/dist/graphiql.scss",
      "imports": [
        "vendor/craftcms/cms/lib/craftcms-sass/_mixins.scss"
      ]
    },
    {
      "path": "vendor/craftcms/cms/src/web/assets/installer/dist/install.scss",
      "imports": [
        "vendor/craftcms/cms/lib/craftcms-sass/_mixins.scss"
      ]
    },
    {
      "path": "vendor/craftcms/cms/src/web/assets/login/dist/login.scss",
      "imports": [
        "vendor/craftcms/cms/lib/craftcms-sass/_mixins.scss"
      ]
    },
    {
      "path": "vendor/craftcms/cms/src/web/assets/plugins/dist/plugins.scss",
      "imports": [
        "vendor/craftcms/cms/lib/craftcms-sass/_mixins.scss"
      ]
    },
    {
      "path": "vendor/craftcms/cms/src/web/assets/pluginstoreoauth/dist/pluginstore-oauth-callback.scss",
      "imports": [
        "vendor/craftcms/cms/lib/craftcms-sass/_mixins.scss"
      ]
    },
    {
      "path": "vendor/craftcms/cms/src/web/assets/routes/dist/routes.scss",
      "imports": [
        "vendor/craftcms/cms/lib/craftcms-sass/_mixins.scss"
      ]
    },
    {
      "path": "vendor/craftcms/cms/src/web/assets/systemmessages/dist/system_messages.scss",
      "imports": [
        "vendor/craftcms/cms/lib/craftcms-sass/_mixins.scss"
      ]
    },
    {
      "path": "vendor/craftcms/cms/src/web/assets/updater/dist/update.scss",
      "imports": [
        "vendor/craftcms/cms/lib/craftcms-sass/_mixins.scss"
      ]
    },
    {
      "path": "vendor/craftcms/cms/src/web/assets/updates/dist/updates.scss",
      "imports": [
        "vendor/craftcms/cms/lib/craftcms-sass/_mixins.scss"
      ]
    },
    {
      "path": "vendor/craftcms/cms/src/web/assets/userpermissions/dist/user-permissions.scss",
      "imports": [
        "vendor/craftcms/cms/lib/craftcms-sass/_mixins.scss"
      ]
    },
    {
      "path": "vendor/craftcms/cms/src/web/assets/utilities/dist/utilities.scss",
      "imports": [
        "vendor/craftcms/cms/lib/craftcms-sass/_mixins.scss"
      ]
    },
    {
      "path": "vendor/craftcms/cms/src/web/assets/whatsnew/dist/whats-new.scss",
      "imports": [
        "vendor/craftcms/cms/lib/craftcms-sass/_mixins.scss"
      ]
    },
    {
      "path": "vendor/craftcms/cms/src/web/assets/cp/dist/css/_cp.scss",
      "imports": [
        "vendor/craftcms/cms/lib/craftcms-sass/_mixins.scss"
      ]
    },
    {
      "path": "vendor/craftcms/cms/src/web/assets/cp/dist/css/_fld.scss",
      "imports": [
        "vendor/craftcms/cms/lib/craftcms-sass/_mixins.scss"
      ]
    },
    {
      "path": "vendor/craftcms/cms/src/web/assets/cp/dist/css/_main.scss",
      "imports": [
        "vendor/craftcms/cms/lib/craftcms-sass/_mixins.scss"
      ]
    },
    {
      "path": "vendor/craftcms/cms/src/web/assets/cp/dist/css/charts.scss",
      "imports": [
        "vendor/craftcms/cms/lib/craftcms-sass/_mixins.scss"
      ]
    },
    {
      "path": "vendor/craftcms/cms/src/web/assets/cp/dist/css/craft.scss",
      "imports": [
        "vendor/craftcms/cms/src/web/assets/cp/dist/css/_reset.scss",
        "vendor/craftcms/cms/src/web/assets/cp/dist/css/_main.scss",
        "vendor/craftcms/cms/src/web/assets/cp/dist/css/_cp.scss",
        "vendor/craftcms/cms/src/web/assets/cp/dist/css/_fld.scss",
        "vendor/craftcms/cms/src/web/assets/cp/dist/css/_image_editor.scss",
        "vendor/craftcms/cms/src/web/assets/cp/dist/css/_shame.scss",
        "vendor/craftcms/cms/lib/craftcms-sass/_mixins.scss"
      ]
    },
    {
      "path": "vendor/craftcms/cms/src/web/assets/pluginstore/src/sass/main.scss",
      "imports": [
        "vendor/craftcms/cms/lib/craftcms-sass/_mixins.scss",
        "vendor/craftcms/cms/src/web/assets/pluginstore/src/sass/_variables.scss",
        "vendor/craftcms/cms/src/web/assets/pluginstore/src/sass/_tailwind.scss",
        "vendor/craftcms/cms/src/web/assets/pluginstore/src/sass/_layout.scss",
        "vendor/craftcms/cms/src/web/assets/pluginstore/src/sass/_grids.scss",
        "vendor/craftcms/cms/src/web/assets/pluginstore/src/sass/_general.scss",
        "vendor/craftcms/cms/src/web/assets/pluginstore/src/sass/_categories.scss",
        "vendor/craftcms/cms/src/web/assets/pluginstore/src/sass/_tooltip.scss",
        "vendor/craftcms/cms/src/web/assets/pluginstore/src/sass/_craftui-overrides.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7881,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"compiler-minify-css\":{\"enabled\":true}}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"],\"compiler-jpg\":{\"enabled\":true,\"originalSize\":0,\"newSize\":0}}"
}