/*
--------------------------------------------------------------------------
  FONT-FACE

  Example for font-face

  @font-face {
    font-display: swap;
    font-family: 'geomanist';
    src: url('/fonts/geomanist.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

--------------------------------------------------------------------------
*/
