/*
--------------------------------------------------------------------------
  Color
--------------------------------------------------------------------------
*/

// project color scheme
$primary: #23599f;
$secondary: #f0c649;

// base
$black: #4e4e4e;
$white: #fff;

// grey
$grey01: #e7edee; //light
$grey02: #a5adb9; // medium
$grey03: #555e6b; // darker



/*
--------------------------------------------------------------------------
  Text Base
--------------------------------------------------------------------------
*/

$font-family-base: arial, sans-serif;
$font-family-title: arial, sans-serif;

$body-color: #2c3e50;
$link-color: $primary;

$line-height-base: 1.4;

$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;


$placeholder: #2c3e50; // default value - you can override per class.


/*
--------------------------------------------------------------------------
  RFS - Responsive font size values
--------------------------------------------------------------------------

  1. Responsive font size breakpoint - default is 1200

*/

$rfs-breakpoint: 1300; // 1


/*
--------------------------------------------------------------------------
  Breakpoints map
--------------------------------------------------------------------------
*/

$grid-breakpoints: (
  xs: 0, // mobile small
  sm: 576px, // mobile HD
  md: 768px, // tablet portrait
  lg: 1024px, // tablet landscape
  xl: 1200px, // desktop HD
  xxl: 1400px, // desktop wide
  xxxl: 1500px, // desktop extra wide
);


/*
--------------------------------------------------------------------------
  Container max-width map
--------------------------------------------------------------------------
*/

$container-max-widths: (
  xs: 90%,
  sm: 90%,
  md: 90%,
  lg: 90%,
  xl: 1140px,
  xxl: 1320px,
  xxxl: 1440px,
);


/*
--------------------------------------------------------------------------
  Grid columns and width
--------------------------------------------------------------------------
*/

$grid-columns: 12;
$grid-gutter-width: 30px;
