/*
--------------------------------------------------------------------------
  Color
--------------------------------------------------------------------------
*/

// project color scheme
$primary: #80828a;
$secondary: #323031;

// base
$black: #4e4e4e;
$white: #fff;

// grey
$grey01: #eef0f3; //light
$grey02: #a5adb9; // medium
$grey03: #555e6b; // darker



/*
--------------------------------------------------------------------------
  Text Base
--------------------------------------------------------------------------
*/

$font-family-base: arial, sans-serif;
$font-family-title: arial, sans-serif;

$body-color: #555e6b;
$link-color: $primary;

$line-height-base: 1.4;

$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;


/*
--------------------------------------------------------------------------
  RFS - Responsive font size values
--------------------------------------------------------------------------

  1. Responsive font size breakpoint - default is 1200

*/

$rfs-breakpoint: 1300; // 1


/*
--------------------------------------------------------------------------
  Breakpoints map
--------------------------------------------------------------------------
*/

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1300px,
  xxxl: 1500px,
  xxxxl: 1700px
);


/*
--------------------------------------------------------------------------
  Container max-width map
--------------------------------------------------------------------------
*/

$container-max-widths: (
  xs: 90%,
  sm: 90%,
  md: 90%,
  lg: 90%,
  xl: 1140px,
  xxl: 1240px,
  xxxl: 1440px,
  xxxxl: 1640px
);


/*
--------------------------------------------------------------------------
  Grid columns and width
--------------------------------------------------------------------------
*/

$grid-columns: 12;
$grid-gutter-width: 30px;
