
<footer class="footer-wrapper">

	<div class="container">

		<div class="row padding-row--y">

			<div class="col-12">

				<h4 class="text-center">Underdog footer - add content here</h4>

			</div>

		</div>

	</div>

	<div class="container">

		<div class="row">

			<div class="col-12 mb-1">

				<div class="copyright__details">

					<a class="copyright__block" href="https://www.3ejoueur.com" target="_blank" rel="noreferrer">

						<div class="copyright__icon"><i class="copyright__logo-3e"></i></div>

						<div class="copyright__text">3e joueur</div>

					</a>

				</div>

			</div>

		</div>

	</div>

</footer>
