
<header>

	<div class="container-fluid">

		<div class="row padding-row--bottom">

			<div class="col-12 px-0">

				<div class="page-header">

					<div class="page-header__img" style="background-image: url('{{ alias('@rootUrl') }}/img/underdog-placeholder.jpg')">

						<div class="page-header__content">

							{# add the headerTitle var in your page template if you want to overwrite entry title #}
							<h1 class="page-header__title">
								{% if headerTitle is defined %}{{ headerTitle }}
								{% elseif entry is defined %}{{ entry.title }}
								{% elseif category is defined %}{{ category.title }}
								{% endif %}
							</h1>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

</header>
