
<header>

	<div class="container-fluid">

		<div class="row padding-row--bottom">

			<div class="col-12 px-0">

				<div class="page-header">

					<div class="page-header__img" style="background-image: url('{{ siteUrl }}img/underdog-placeholder.jpg')">

						<div class="page-header__content">

							<h1 class="page-header__title">{{ entry.title }}</h1>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

</header>
