

<nav class="navbar">

	<div class="container">

		<a class="navbar__logo" id="logo" href="{{ siteUrl }}" title="{{ siteName }}" rel="home">
			<img src="{{ alias('@web') }}/img/underdog-logo.svg" alt="logo" />
		</a>

		<button class="navbar__hamburger" type="button">
			<span class="hamburger__box">
				<span class="hamburger__inner"></span>
			</span>
		</button>

	</div>

	<div class="mega-nav" role="navigation">

		<div class="container">

			<div class="row">

				<div class="col-12 col-lg-4 mega-nav__col">

					<div class="mega-nav__menu-title">Title if needed</div>

          Create your nav right here !

				</div>

			</div>

		</div>

	</div>

</nav>
