/*------------------------------------------------- LOOP BLOCK ARCHIVE --------------------------------------*/
.listing {
	margin-bottom: 1rem;

	&__empty-message {
		font-weight: normal;
		font-size: 1.4rem;
		margin-top: 0;
	}
}

.listing-block {
	border-bottom: 1px solid $light-grey;

	&--big {
		padding-bottom: 3rem;
		margin-bottom: 3rem;
	}

	&--small {
		padding-bottom: 2rem;
		margin-bottom: 2rem;
	}

	&__tag {
		background-color: $white;
		color: $secondary;
		display: block;
		position: absolute;
		padding: 0 1rem;
		left: 2rem;
		top: -1rem;
		font-size: 1.2em;
	}

	&:last-child {
		border-bottom: none;
		margin-bottom: 0;
	}

	&__title {
		font-size: 2.3rem;
		font-weight: 400;
		margin-top: 0;
		margin-bottom: 0.8em;
		line-height: 1.2;

		a:hover {
			color: $tertiary;
		}
	}

	&__title--small {
		font-size: 1.6rem;
	}

	&__details {
		display: flex;
		align-items: top;
		position: relative;
	}

	&__col {
		padding: 0;
		display: flex;
		@include media-breakpoint-up(md) {
			&--last {
				padding-right: 3rem;
			}
		}
	}

	&__icon {
		display: inline-block;
	}

	&__info {
		display: inline-block;
	}
}

.side-details {
	&__content {
		margin-top: 20px;
		@include media-breakpoint-up(lg) {
			position: -webkit-sticky;
			position: sticky;
			top: 110px;
		}
	}

	&__item {
		position: relative;
		display: inline-block;
		margin-bottom: 2rem;
		@include media-breakpoint-up(lg) {
			display: flex;
		}

		&--divider {
			margin-left: 2rem;
			@include media-breakpoint-up(lg) {
				margin-left: 0;
				&::before {
					content: "";
					width: 3rem;
					height: 1px;
					background: $medium-grey;
					position: absolute;
					bottom: 3rem;
				}
			}
		}

	}

	&__icon {
		display: inline-block;
	}

	&__info {
		display: inline-block;
	}
}

/*------------------------------------------------- ICON BLOG AND CALENDAR --------------------------------------*/
/*-- archive and homepage ----*/

.link-arrow--article {
	position: absolute;
	right: 0;
	top: 0;
	margin-top: 0;
	@include media-breakpoint-down(sm) {
		display: none;
	}
}
