
@layer utilities {

   .lazy-fit {
      position: relative;
      background-color: #e3e3e3;

      img {
         position: absolute;
         top: 0;
         left: 0;
         display: block;
         width: 100%;
         height: 100%;
         color: #e3e3e3;
         object-fit: cover;
         object-position: center center;
      }
   }

   /*
      Use lazy-img for a client side uploaded image > height and width attribute must be setted on the img tag
   */
   .lazy-img {
      img {
         max-width: 100%;
         height: auto;
         background-color: #e3e3e3;
         color: #e3e3e3;
      }

   }

}