{% extends '_base/layout' %}

{% block content %}

  <div class="container" class="mb-threequarter" style="min-height:400px; display:flex; align-items:center;">
    <h1 style="font-size:1rem;">Hey! Ajoutez quelque chose ici.</h1>
  </div>

{% endblock %}
