/*
--------------------------------------------------------------------------
  Mega-menu
--------------------------------------------------------------------------
*/

.mega-nav {
  @include transition-cubic(transform, 0.6s);
  background-color: #bef0ff;
  color: $black;
  height: 100vh;
  left: 0;
  overflow: scroll;
  -webkit-overflow-scrolling: touch; // apple device smooth elastic scroll
  overflow-x: hidden;
  padding: 100px 12px 40px 8px; // clear the navbar
  position: fixed;
  top: -100%;
  transform: translateY(0);
  width: 100%;

  @include media-breakpoint-up(lg) {
    padding: 140px 0 40px; // clear the navbar
  }

  &--open & {
    @include transition-cubic(transform, 0.6s);
    transform: translateY(100%);
  }
} // end mega-nav


/*
* BODY REMOVE SCROLL WHEN OPEN
* ------------------- */

body.mega-nav--open {
  overflow: hidden;
}
