/*
* NAVBAR
* ----------------------------------------------------------------------------------------------- */
// height variables are located in the variables scss file.

.navbar {
  background-color: $grey01;
  display: flex;
  height: $navbar-height;
  left: 0;
  margin: auto;
  padding: 0;
  position: fixed;
  right: 0;
  transition: all 0.3s ease;
  width: 100%;
  z-index: 100;

  @include media-breakpoint-up(md) {
    height: $navbar-height-md;
  }
  @include media-breakpoint-up(lg) {
    height: $navbar-height-lg;
  }

  .navbar--shrink & {
    transition: height 0.3s ease;
    @include media-breakpoint-up(md) {
      height: 60px;
    }
    @include media-breakpoint-up(lg) {
      height: 80px;
    }
  }

  &__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    z-index: 99; // keeps the logo and button hover the open nav
  }

  &__logo-img {
    height: 20px;
    transition: all 0.3s ease;
    width: 126px;

    @include media-breakpoint-up(lg) {
      height: 68px;
      width: 54px;

      .navbar--shrink & {
        height: 50px;
        transition: all 0.3s ease;
        width: 90px;
      }
    }
  }

} // end navbar prefix
