/*
* NAVBAR
* ----------------------------------------------------------------------------------------------- */
// height variables are located in the variables scss file.

.navbar {
	display: flex;
	position: fixed;
	background-color: #202022;
	right: 0;
	left: 0;
	width: 100%;
	height: $navbar-height;
	margin: auto;
	padding: 0;
	z-index: 100;
	transition: all 0.3s ease;

	@include media-breakpoint-up(md) {
		height: $navbar-height-md;
	}
	@include media-breakpoint-up(lg) {
		height: $navbar-height-lg;
	}

	.navbar--shrink & {
		transition: height 0.3s ease;
		@include media-breakpoint-up(md) {
			height: 60px;
		}
		@include media-breakpoint-up(lg) {
			height: 80px;
		}
	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		z-index: 99; // keeps the logo and button hover the open nav
	}

	&__logo-img {
		width: 126px;
		height: 20px;
		transition: all 0.3s ease;

		@include media-breakpoint-up(lg) {
			width: 54px;
			height: 68px;

			.navbar--shrink & {
				width: 90px;
				height: 50px;
				transition: all 0.3s ease;
			}
		}
	}

} // end navbar prefix
