/*
 |--------------------------------------------------------------------------
 | Navbar
 |--------------------------------------------------------------------------
*/

.navbar {
  background-color: $grey01;
  display: flex;
  height: 70px;
  left: 0;
  margin: auto;
  padding: 0;
  position: fixed;
  right: 0;
  transition: all 0.3s ease;
  width: 100%;
  z-index: 100;

  @include media-breakpoint-up(md) {
    height: 80px;
  }

  @include media-breakpoint-up(lg) {
    height: 100px;
  }

  .navbar--shrink & {
    transition: height 0.3s ease;

    @include media-breakpoint-up(md) {
      height: 60px;
    }

    @include media-breakpoint-up(lg) {
      height: 80px;
    }
  }

  &__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    z-index: 99; // keeps the logo and button hover the open nav
  }

  &__logo-img {
    height: 40px;
    transition: all 0.3s ease;
    width: 32px;

    @include media-breakpoint-up(lg) {
      height: 68px;
      width: 54px;

      .navbar--shrink & {
        height: 50px;
        transition: all 0.3s ease;
        width: 40px;
      }
    }
  }
} // end navbar prefix
