/*
--------------------------------------------------------------------------
  Spacing utility classes based on a default value for each breakpoint
  Author : Ian Reid Langevin @3ejoueur - 2020
--------------------------------------------------------------------------

  1. Set your primary spacing for each breakpoint in rem.
  2. Use the full spacing default value like this : mb-full for margin-bottom or pt-full for padding-top
  3. Use mb-half or pt-twothird to create spacing based on default values. It allowed full consistancy accross project.

*/

/*
  Map Full values
  Values are examples
  Add your value and breakpoints prefix if you want to
*/

$fullvalues: (
  xs: 4rem,
  sm: 5rem,
  md: 6rem,
  xl: 7rem,
);

/* Fractions used in classes */
$fractions: (
  "full": 1, /* default full */
  "threequarter": 0.75, /* 3/4 of the full value for each breakpoint */
  "twothird": 0.66, /* 2/3 of the full value for each breakpoint */
  "half": 0.5, /* 1/2 of the full value for each breakpoint */
  "third": 0.33, /* 1/3 of the full value for each breakpoint */
  "quarter": 0.25, /* 1/4 of the full value for each breakpoint */
);

@each $fraction, $percentage in $fractions {
  @each $property, $abbr in (margin: m, padding: p) {
    @each $orientation, $orientationabbr in (bottom: b, top: t) {

      @each $name, $fullvalue in $fullvalues {
        .#{$abbr}#{$orientationabbr}-#{$fraction} {
          @include media-breakpoint-up($name) {
            #{$property}-#{$orientation}: $fullvalue * $percentage;
          }
        }
      }

    }
  }
}
