/*
----------------------------------------------------------------------------------------------
  Spacing utility classes with value for each breakpoint or RFS to auto calculate from 1 value
  Credit : Ian Reid Langevin @3ejoueur - 2020
----------------------------------------------------------------------------------------------
  PurgeCSS will remove any unused class in your templates
*/

/*
  Map with Full control values - see below for RFS option

  1. Set your primary spacing for each breakpoint in rem.
  2. Use the full spacing default value like this : mb-full for margin-bottom or pt-full for padding-top
  3. Use mb-half or pt-twothird to create spacing based on default values.
  4. Classes available :
    mb-full, mt-full, pb-full, pt-full
    mb-threequarter, mt-threequarter, pb-threequarter, pt-threequarter
    mb-twothird, mt-twothird, pb-twothird, pt-twothird
    mb-half, mt-half, pb-half, pt-half
    mb-third, mt-third, pb-third, pt-third
    mb-quarter, mt-quarter, pb-quarter, pt-quarter

*/

/* You can add breakpoints with value if you want */
$spacing-values: (
  xs: 4rem,
  sm: 5rem,
  md: 6rem,
  xl: 7rem,
);

/* Fractions used in classes like mt-quarter or pb-third */
$spacing-fractions: (
  'full': 1,
  'threequarter': 0.75,
  'twothird': 0.66,
  'half': 0.5,
  'third': 0.33,
  'quarter': 0.25,
);

@each $spacing-fraction, $percentage in $spacing-fractions {
  @each $property, $abbr in (margin: m, padding: p) {
    @each $orientation, $orientationabbr in (bottom: b, top: t) {

      @each $name, $fullvalue in $spacing-values {
        .#{$abbr}#{$orientationabbr}-#{$spacing-fraction} {
          @include media-breakpoint-up($name) {
            #{$property}-#{$orientation}: $fullvalue * $percentage;
          }
        }
      }

    }
  }
}



/*
  RFS with only one base value - same as responsive font size

  1. Set your primary spacing value(value for big screen) with the $rfs-base-spacing variable.
     You can change the RFS breakpoint value in the variables file.
  2. Use the full spacing default value like this : rmb-full for margin-bottom or rpt-full for padding-top
  ( you add r for responsive before mt, mb or pt, pb )
  3. Classes available :
    rmb-full, rmt-full, rpb-full, rpt-full
    rmb-threequarter, rmt-threequarter, rpb-threequarter, rpt-threequarter
    rmb-twothird, rmt-twothird, rpb-twothird, rpt-twothird
    rmb-half, rmt-half, rpb-half, rpt-half
    rmb-third, rmt-third, rpb-third, rpt-third
    rmb-quarter, rmt-quarter, rpb-quarter, rpt-quarter

*/


/* Set your value for the full spacing - RFS will calculate each breakpoint */
$rfs-base-spacing: 7rem;


/* Fractions used in classes like rmt-quarter or rpb-third */
$rfs-fractions: (
  'full': $rfs-base-spacing,
  'threequarter': $rfs-base-spacing * 0.75,
  'twothird': $rfs-base-spacing * 0.66,
  'half': $rfs-base-spacing * 0.5,
  'third': $rfs-base-spacing * 0.33,
  'quarter': $rfs-base-spacing * 0.25,
);


@each $rfs-fraction, $rfs-value in $rfs-fractions {
  @each $property, $abbr in (margin: m, padding: p) {
    @each $orientation, $orientationabbr in (bottom: b, top: t) {

        .r#{$abbr}#{$orientationabbr}-#{$rfs-fraction} {
          @include rfs($rfs-value, #{$property}-#{$orientation});
        }

    }
  }
}
