.fade {
  transition: opacity .15s linear;

  &:not(.show) {
    opacity: 0;
  }
}

.collapse {
  &:not(.show) {
    display: none;
  }
}

.collapsing {
  position: relative;
  height: 0;
  transition: height .45s ease;
  overflow: hidden;
}
