/*
--------------------------------------------------------------------------
  Styles for the client CMS editor field
  IMPORTANT - add the wysiwyg class on your template div
--------------------------------------------------------------------------
*/


.wysiwyg {

  // clear - important if image in editor
  &::after {
    display: block;
    clear: both;
    content: '';
  }

  h2 {
    margin: 1.5em 0 1em;
    font-size: 2rem;
  }

  h3 {
    margin: 1.5em 0 0.6em;
    font-size: 1.6rem;
  }

  h4 {
    margin: 1.5em 0 0.6em;
    font-size: 1.4rem;
  }


  // remove margins on first and last element to avoid double gap with other elements
  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  p {
    overflow: hidden; // avoid email overflow in mobile
    margin-top: 0;
    margin-bottom: 2rem;
  }

  li p {
    margin-bottom: 1rem;
  }

  iframe { // prevent overflow for video - add responsive
    max-width: 100%;
  }

  /*
  * LINKS
  */

  a {
    color: $link-color;
    text-decoration: none;
  }

  /*
  * TABLES
  */

  table {
    display: table;
    width: 100%;
    height: 100%;
    margin: 4rem auto 4rem 0;
    border-collapse: collapse;
    border-spacing: 0;

    @include media-breakpoint-down(sm) {
      width: 100%;
      -webkit-overflow-scrolling: touch;
      overflow-x: auto;
    }

    td,
    th {
      min-width: 2em;
      padding: 1em;
      border: 1px solid $grey02;

      > *:last-child {
        margin-bottom: 0; // avoid the p margin on the last p or on a single
      }
    }

    th {
      background-color: $grey01;
      font-size: 1.06em;
    }

  } //table

  /*
  * MARK
  */

  mark {
    background-color: #f9f93d;
    color: $black;
  }

  /*
  * IMAGES
  */

  img,
  svg {
    max-width: 100%;
    height: auto;
  }


  /*
  * Blockquote
  */

  blockquote {
    position: relative;
    margin-bottom: 2rem;
    padding: 1rem 2em;
    color: $grey02;
    font-style: italic;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 4px;
      height: 100%;
      background-color: $grey01;
      content: '';
    }
  }


  /*
  * Unordered list
  */

  > ul {
    margin-bottom: 2rem;

    @include media-breakpoint-up(lg) {
      padding-left: 2em;
    }

    > li {
      position: relative;
      margin: 0 0 0.5em;
      padding-left: 2em;
      list-style: none;

      &::before {
        position: absolute;
        left: 0;
        margin-right: 1.5em;
        color: $primary;
        content: '•';
      }
    } //li
  } // ul

  > ul ul {
    margin: 1em 0;

    li {
      position: relative;
      padding-left: 2em;
      list-style: none;

      &::before {
        position: absolute;
        left: 0;
        margin-right: 1.5em;
        color: $grey03;
        content: '—';
      }
    }
  }

  > ul ul ul {
    margin: 0.5em 0;
  }

  /*
  * OL list with 3 levels
  * Tous les units sont en EM pour faciliter la coherence entre mobile et desktop
  */

  > ol {
    counter-reset: my-counter;
    margin-bottom: 2rem;
    padding-top: 1rem;

    @include media-breakpoint-up(sm) {
      padding-left: 2em;
    }

    > li {
      position: relative;
      margin: 0 0 1.2em;
      padding-left: 3.5em;
      list-style: none;
      counter-increment: my-counter;

      &::before {
        position: absolute;
        top: -0.2em;
        left: 0;
        display: flex;
        width: 1.8em;
        max-width: 1.8em;
        height: 1.8em;
        margin-right: 2em;
        padding: 0.96em 1em 1em;
        background-color: $primary;
        color: $white;
        line-height: 1;
        content: counter(my-counter);
        align-items: center;
        border-radius: 50%;
        justify-content: center;
      }
    } // ol li
  } // ol

  > ol ol {
    margin: 1em 0;

    li {
      padding: 2px 0;
    }
  }

  > ol ol ol {
    margin: 0.5em 0;
  }

}
