
/*
* MAIN BUTTON
* ----------------------------------------------------------------------------------------------- */

@mixin buttonDark {
	display: inline-block;
	position: relative; // useful for the hover effect
	padding: 1em 2.2em;
	border: 0;
	border-radius: 2em;
	color: $white;
	font-family: "neue-haas-unica", "helvetica neue", arial, sans-serif;
	font-size: 0.85rem;
	font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
	@include hoverButtonBlue;
}


.button {
	@include buttonDark;

	// add btn--light if button is used on a dark bg
	&--light {
		background-color: $white;
		background-image: none;
		color: $turquoise01;
	}

	&--red-bg {
		background-color: $red03;
		background-image: none;
		color: $white;
		@include transitionOutEase(all);

		&:hover {
			background-color: $white;
			color: $red01;
			@include transitionInEase(all);
		}
	}

}

/*
* INPUT SUBMIT TYPE BUTTON
* ----------------------------------------------------------------------------------------------- */
input[type="submit"] {
	@include buttonDark;
}
