
.btn {
  @include transition-in-out(background-color, 0.4s);
  display: inline-block;
  padding: 0.5em 2em;
  border: 0;
  outline: none;
  background-color: #cdd7d9;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  appearance: none;
  border-radius: 2em;

  &:hover,
  &:active {
    @include transition-in-out(background-color, 0.2s);
    background-color: $secondary;
  }

  &[disabled],
  &:disabled,
  &.disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
  }

}
