
/*
* Project link
* -----------------------------------------------------------------------------------------------*/

a {
  color: $link-color;
  text-decoration: $link-decoration;

  &:hover {
    color: $primary;
  }
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;

  &:focus {
    outline: 0;
  }
}

// Suppress the focus outline on elements that cannot be accessed via keyboard.
[tabindex='-1']:focus {
  outline: 0 !important;
}


/*
* Stretched link
* -----------------------------------------------------------------------------------------------*/

.stretched-link {
  &::after {
    background-color: rgba(0, 0, 0, 0);
    bottom: 0;
    content: '';
    left: 0;
    pointer-events: auto;
    position: absolute;
    // Just in case pointer-events: none is set on a parent
    right: 0;
    top: 0;
    // IE10 bugfix, see https://stackoverflow.com/questions/16947967/ie10-hover-pseudo-class-doesnt-work-without-background-color
    z-index: 1;
  }
}
