/*
* SIDEMENU WITH COLLAPSE
* ----------------------------------------------------------------------------------------------- */
.sidenav {
	margin-bottom: 3rem;
	padding-top: 2px;
	@include media-breakpoint-up(lg) {
		position: -webkit-sticky;
		position: sticky;
		top: 110px;
		margin-bottom: 0;
		max-width: 340px;
	}
}


.sidenav__menu {
	border: 1px solid $tertiary;
	border-top: none;

	.current a {
		color: $tertiary;
	}

	ul {
		list-style-type: none;
		margin-bottom: 0;
		padding: 20px 24px;

		li {
			padding: 10px 0;
			line-height: 1.3;
		}
	}
}

button.sidenav__btn {
	appearance: none;
	width: 100%;
	background: none;
	box-shadow: none;
	border: 1px solid $tertiary;
	border-radius: 0;
	cursor: pointer;
	padding: 0;
	outline: none;
	color: $primary;
	display: flex;
	align-items: center;
	transition: all 0.3s;

	.sidenav__title {
		text-align: left;
		font-size: 1.2em;
		width: 100%;
		padding: 0.5em 24px;
	}

	.sidenav__icon {
		margin-left: auto;
		margin-right: 24px;
		transition: transform 0.3s;
		display: flex;
		align-items: center;
	}

	.sidenav__icon::before {
		font-family: 'icomoon' !important;
		content: "\e903";
		color: $primary;
		font-size: 0.8em;
	}

	&:hover {
		background: $primary;
		border: 1px solid $primary;
		color: $white;
		transition: all 0.3s;

		.sidenav__icon::before {
			color: $white;
		}
	}

	&:not(.collapsed) .sidenav__icon {
		transform: rotate(180deg);
		transition: transform 0.3s;
	}
}
