{% extends "base" %}

{% block content %}

<section>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h1>This is the homepage template</h1>
      </div>
      <div class="col-6">
        <h1>This is a column</h1>
      </div>
    </div>
  </div>
</section>

{% endblock %}
