{% extends "_base" %}

{% block content %}

<section>
  <div class="container">
    <div class="row">
      <div class="DELETE-ME col-12" style="min-height:400px; display:flex; align-items:center;">
        <h1 style="color:#80828A; font-size:2rem;"><span style="color:#fff">_</span>content</h1>
      </div>
    </div>
  </div>
</section>

{% endblock %}
