
/*
* MAIN FONTS - UTILISEZ CES MIXINS PARTOUT OU IL Y A DU TEXTE
*
* Sofia-pro, sans-serif
* Light - 300
* Regular - 400
* Bold - 700
* ---
* Neue-haas-unica, sans-serif
* Regular - 400
* Medium - 500
* Heavy - 700
*
*/

@mixin font-family-01($color, $weight) {
  color: $color;
  font-family: arial, sans-serif;
  font-weight: $weight;
  letter-spacing: 0.02em;
  opacity: 0; // smooth the font swap

  .fonts-loaded & {
    font-family: 'sofia-pro';
    opacity: 1;
    transition: opacity 0.2s linear;
  }

  .fonts-not-loaded & {
    opacity: 1;
    transition: opacity 0.2s linear;
  }
}

@mixin font-family-02($color, $weight) {
  color: $color;
  font-family: arial, sans-serif;
  font-weight: $weight;

  .fonts-loaded & {
    font-family: 'neue-haas-unica';
  }
}


/*
* FONTS SIZING
*/

/* H1 - Title for page header */

@mixin title-01 {
  @include font-family-01($black01, 300);
  font-size: 30px;
  line-height: 1.1;
  margin: 0 0 3rem;

  @include media-breakpoint-up(sm) { font-size: 38px; }
  @include media-breakpoint-up(md) { font-size: 44px; }
  @include media-breakpoint-up(lg) { font-size: 48px; }
  @include media-breakpoint-up(xl) { font-size: 52px; }
  @include media-breakpoint-up(xxl) { font-size: 56px; }
}


/* H2 - Title for content title */

@mixin title-02($color) {
  @include font-family-01($color, 300);
  font-size: 26px;
  line-height: 1.15;

  @include media-breakpoint-up(sm) { font-size: 28px; }
  @include media-breakpoint-up(md) { font-size: 32px; }
  @include media-breakpoint-up(xl) { font-size: 36px; }
  @include media-breakpoint-up(xxl) { font-size: 40px; }
}


/* H3 - Title h3 style */

@mixin title-03($color) {
  @include font-family-01($color, 300);
  font-size: 21px;
  line-height: 1.15;

  @include media-breakpoint-up(sm) { font-size: 23px; }
  @include media-breakpoint-up(md) { font-size: 26px; }
  @include media-breakpoint-up(xl) { font-size: 28px; }
  @include media-breakpoint-up(xxl) { font-size: 32px; }
}


/* H4 - Title h4 style */

@mixin title-04($color) {
  @include font-family-01($color, 300);
  font-size: 18px;
  line-height: 1.15;

  @include media-breakpoint-up(sm) { font-size: 20px; }
  @include media-breakpoint-up(md) { font-size: 22px; }
  @include media-breakpoint-up(xl) { font-size: 24px; }
  @include media-breakpoint-up(xxl) { font-size: 26px; }
}

/* H5 - Title h5 style */

@mixin title-05($color) {
  @include font-family-01($color, 300);
  font-size: 16px;
  line-height: 1.15;

  @include media-breakpoint-up(sm) { font-size: 18px; }
  @include media-breakpoint-up(md) { font-size: 19px; }
  @include media-breakpoint-up(xl) { font-size: 20px; }
  @include media-breakpoint-up(xxl) { font-size: 22px; }
}
