

/*
* Sizing pour icones dans la NAVBAR et le FOOTER - social
* Permet de changer a ce seul endroit
*/

@mixin iconWrapperSize {
  height: 36px;
  width: 36px;
  @include media-breakpoint-up(md) {
    height: 44px;
    width: 44px;
  }
  @include media-breakpoint-up(lg) {
    height: 52px;
    width: 52px;
  }
}

@mixin iconSize($iconColor) {
  fill: $iconColor;
  height: 20px;
  width: 20px;
  @include media-breakpoint-up(md) {
    height: 24px;
    width: 24px;
  }
  @include media-breakpoint-up(lg) {
    height: 32px;
    width: 32px;
  }
}


/*
* Sizing pour icones dans le contenu avec double background ou non
*/

@mixin iconDoubleRound($iconColor) {
  fill: $iconColor;
  height: 22px;
  width: 22px;
  @include media-breakpoint-up(md) {
    height: 28px;
    width: 28px;
  }
  @include media-breakpoint-up(lg) {
    height: 36px;
    width: 36px;
  }
}
