/*
--------------------------------------------------------------------------
  Mixins - Object-fit
--------------------------------------------------------------------------
  This mixin can be used to set the object-fit for an image :
    @include object-fit(contain);
  or object-fit and object-position:
    @include object-fit(cover, center center);
*/

@mixin object-fit($fit: fill, $position: null) {
  height: 100%;
  -o-object-fit: $fit;
  object-fit: $fit;
  width: 100%;
  @if $position {
    -o-object-position: $position;
    object-position: $position;
  }
}
