/*
* This mixin can be used to set the object-fit:
* @include object-fit(contain);
* or object-fit and object-position:
* @include object-fit(cover, top);
* Ask Ian @ 3ejoueur for info.
*
* INSTRUCTIONS
* Utilisez avec le polyfill suivant à ajouter
* dans votre fichier yarn dans lib : https://classic.yarnpkg.com/en/package/object-fit-images
* https://github.com/fregante/object-fit-images
*/

@mixin object-fit($fit: fill, $position: null) {
  height: 100%;
  -o-object-fit: $fit;
  object-fit: $fit;
  width: 100%;
  @if $position {
    -o-object-position: $position;
    font-family: 'object-fit: #{$fit}; object-position: #{$position}'; //polyfill for IE
    object-position: $position;
  } @else {
    font-family: 'object-fit: #{$fit}'; //polyfill for IE
  }
}
