
/*
* TRANSITIONS MIXINS
* Add your mixins for consistant transitions everywhere
*/

@mixin transitionInEase($property) {
  transition: $property 0.2s ease-in-out;
}

@mixin transitionOutEase($property) {
  transition: $property 0.4s ease-in-out;
}

@mixin transitionCubic($property) {
  transition: $property 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
