/*
--------------------------------------------------------------------------
  Transitions mixins
  + Add yours
--------------------------------------------------------------------------
*/

@mixin transition-in-out($property, $duration) {
  transition: $property $duration ease-in-out;
}

@mixin transition-cubic($property, $duration) {
  transition: $property $duration cubic-bezier(0.19, 1, 0.22, 1);
}

@mixin transition-linear($property, $duration) {
  transition: $property $duration linear;
}
