
/*
* TRANSITIONS MIXINS
* Add your mixins for consistant transitions everywhere
*/

@mixin transition-in-ease($property) {
  transition: $property 0.2s ease-in-out;
}

@mixin transition-out-ease($property) {
  transition: $property 0.4s ease-in-out;
}

@mixin transition-cubic($property) {
  transition: $property 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
