/*
--------------------------------------------------------------------------
  Typography mixins - usefull for consistency and for lazy loading fonts
  + Add yours
--------------------------------------------------------------------------
*/

@mixin font-family-01($color, $weight) {
  color: $color;
  font-family: arial, sans-serif; // change it for the default font that you want
  font-weight: $weight;
  opacity: 0; // smooth the font swap

  .fonts-loaded & {
    font-family: $font-family-title; // custom font
    opacity: 1;
    transition: opacity 0.2s linear;
  }

  .fonts-not-loaded & {
    opacity: 1;
    transition: opacity 0.2s linear;
  }
}


@mixin font-family-02($color, $weight) {
  color: $color;
  font-family: arial, sans-serif; // change it for the default font that you want
  font-weight: $weight;

  .fonts-loaded & {
    font-family: $font-family-base; // custom font
  }
}
