/*
--------------------------------------------------------------------------
  CONTAINER
--------------------------------------------------------------------------
*/

.container {
  position: relative;
  width: 90%;
  max-width: 1640px;
  margin-right: auto;
  margin-left: auto;
}
