
/*
* FOOTER COPYRIGHT
*/

.footer-copyright {
  align-items: center;
  color: #869ab3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 2rem;

  @include media-breakpoint-up(md) {
    flex-direction: row;
  }

  &__text {
    font-size: 0.8em;
    margin-bottom: 10px;

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
      margin-right: 2rem;
    }
  }

  &__icon {
    height: 22px;
    width: 22px;

    path {
      @include transition-out-ease(fill);

      fill: #869ab3;
    }

    &:hover path {
      @include transition-in-ease(fill);

      fill: #333;
    }
  }
}
