
.footer-copyright {
  display: flex;
  padding-bottom: 2rem;
  color: #869ab3;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;

  &__text {
    margin-right: 2rem;
    font-size: 0.8em;
  }

  &__icon {
    width: 22px;
    height: 22px;

    path {
      @include transition-in-out(fill, 0.4s);

      fill: #869ab3;
    }

    &:hover path {
      @include transition-in-out(fill, 0.2s);

      fill: #333;
    }
  }
}
