/*
* PAGES HEADER
* ----------------------------------------------------------------------------------------------- */
.page-header {
	position: relative;
	width: 100%;
	z-index: 1;
	overflow: hidden;

	&__img {
		height: 35vh;
		width: 100%;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		background-size: cover;
		background-position: center center;
		
		@include media-breakpoint-up(sm) {
			height: 55vh;
		}
		@include media-breakpoint-up(md) {
			height: 55vh;
		}
	}

	&__title {
		color: $secondary;
		text-align: center;
		hyphens: auto;
		word-break: break-word;
	}
}
