/*
* PAGES HEADER
* ----------------------------------------------------------------------------------------------- */
.page-header {
	position: relative;
	width: 100%;
	height: 35vh;
	max-height: 250px;
	margin-bottom: 3rem;
	overflow: hidden; // usefull for gsap animation

	@include media-breakpoint-up(sm) {
		height: 35vh;
	}
	@include media-breakpoint-up(md) {
		height: 40vh;
		max-height: 300px;
	}
	@include media-breakpoint-up(xl) {
		height: 40vh;
		max-height: 400px;
	}

	&__wrapper {
		padding: $navbar-height 0 0;
		@include media-breakpoint-up(md) {
			padding: $navbar-height-md 0 0;
		}
		@include media-breakpoint-up(lg) {
			padding: $navbar-height-lg 0 0;
		}
	}

	&__col {
		padding-right: 0;
		padding-left: 0;
	}

	&__section {
		@include make-container-max-widths;
		margin: 0 auto;
		padding: 1em 15px;
		@include title-uppercase($turquoise01);
	}

	&__title {
		@include title-01;
	}

}
