/*
* MEGA-NAV MENU
* ----------------------------------------------------------------------------------------------- */
.mega-nav {
    background-color: $light-grey;
    color: $black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 100px 12px 40px 8px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    transform: translateY(-100%);
    transition: 0.2s;
    transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
    @include media-breakpoint-up(lg) {
        padding: 140px 0 40px;
    }

    &__menu-title {
        font-family: $font-family-title;
        font-weight: $font-weight-semibold;
        color: $primary;
        font-size: 1.7rem;
        margin: 0 0 1em;
        text-align: left;
    }

    &__accordions-title {
        margin-bottom: 0;
    }

    &__menu-list {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 24px;

        li {
            margin-bottom: 20px;
            line-height: 1.25;
        }
    }

    .menu-item a {
        //wordpress class
        color: $body-color;
        font-size: 1.05em;

        &:hover {
            color: $primary;
        }
    }

    .current-menu-item a {
        //wordpress class
        color: $primary;
    }

    .active a {
        color: $primary;
    }
    /*---- opening action and fade-in animation  ------*/
    .container {
        // set for fade-in
        opacity: 0;
    }

    &--open & {
        transform: translateY(0);
        transition: 0.3s;
        transition-timing-function: cubic-bezier(0, 0, 0.58, 1);

        .container {
            // fade-in
            opacity: 1;
            transition: opacity 0.8s ease-in-out;
        }
    }
} // end mega-nav prefix
