/*
* HAMBURGER MENU
* ----------------------------------------------------------------------------------------------- */
.mega-nav--open .navbar__hamburger,
.navbar.navbar--shrink .navbar__hamburger {
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
}

.classic-nav__hamburger,
.navbar__hamburger {
    display: inline-block;
    padding: 11px 12px;
    cursor: pointer;
    background-color: $light-grey;
    border-radius: 50%;
    border: 0;
    overflow: visible;
    outline: none;
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: #f9f9f9;
    }
}

.navbar.navbar--shrink .navbar__hamburger:hover {
    background-color: #f9f9f9;
}

.hamburger {
    &__box {
        width: 19px;
        height: 14px;
        display: inline-block;
        position: relative;
    }

    &__inner,
    &__inner::after,
    &__inner::before {
        display: block;
        width: 20px;
        height: 2px;
        background-color: $black;
        position: absolute;
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease;
    }

    &__inner::after,
    &__inner::before {
        content: "";
    }

    &__inner::before {
        top: 8px;
        transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    &__inner::after {
        top: 16px;
        transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
}

.mega-nav--open,
.mobile-nav--open {
    .hamburger__inner {
        transition-delay: 0.22s;
        background-color: transparent !important;

        &::before {
            top: 0;
            transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
            transform: translate3d(0, 8px, 0) rotate(45deg);
        }

        &::after {
            top: 0;
            transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
            transform: translate3d(0, 8px, 0) rotate(-45deg);
        }
    }
}
/*-------------- hamburger bigger for lg device  ----------------*/
@include media-breakpoint-up(lg) {
    .navbar__hamburger {
        padding: 15px 14px;
    }

    .hamburger__inner,
    .hamburger__inner::after,
    .hamburger__inner::before {
        width: 24px;
        height: 2px;
    }

    .hamburger__box {
        width: 24px;
        height: 16px;
    }

    .hamburger__inner::before {
        top: 9px;
    }

    .hamburger__inner::after {
        top: 18px;
    }

    .mega-nav--open .hamburger__inner {
        &::before {
            transform: translate3d(0, 10px, 0) rotate(45deg);
        }

        &::after {
            transform: translate3d(0, 10px, 0) rotate(-45deg);
        }
    }
}
