{# MAIN FOOTER LAYOUT #}
<footer class="footer-wrapper">
   <div class="container">
      {# Copyright #}
      <div class="flex items-center justify-between pb-quarter">
         <div class="text-0.8em mr-2">
            © Overdog
         </div>
         <a rel="noopener noreferrer" href="https://www.3ejoueur.com" target="_blank" title="3e joueur">
            <svg class="h-4 w-4 fill-slate-500">
               <use xlink:href="#logo-3ejoueur"></use>
            </svg>
         </a>
      </div>
   </div>
</footer>
