{# MAIN FOOTER LAYOUT #}
<footer class="footer-wrapper">
	<div class="container">
		{# Copyright #}
		<div class="footer-copyright">
			<div class="footer-copyright__text">© Overdog</div>
			<a class="footer-copyright__icon-wrapper" rel="noopener noreferrer" href="https://www.3ejoueur.com" target="_blank" title="3e joueur">
				<svg class="footer-copyright__icon"><use xlink:href="#logo-3ejoueur"></use></svg>
			</a>
		</div>
	</div>
</footer>
