{# MAIN FOOTER LAYOUT #}
<footer class="footer-wrapper">
	<div class="container">
		{# Copyright #}
		<div style="min-height:400px; display:flex; align-items:center;">
			<h1 style="color:#80828A; font-size:2rem;">footer</h1>
		</div>
		<div class="footer-copyright">
			<div class="footer-copyright__text">© Overdog</div>
			<a class="footer-copyright__icon-wrapper" rel="noopener" href="https://www.3ejoueur.com" target="_blank" rel="external" title="3e joueur">
				<span class="sr-only">3e joueur</span>
				<svg class="footer-copyright__icon"><use xlink:href="{{ alias('@iconsUrl') }}#logo-3ejoueur"></use></svg>
			</a>
		</div>
	</div>
</footer>
