{# MAIN FOOTER LAYOUT #}
<footer class="footer-wrapper">
	<div class="container">
		{# Copyright #}
		<div class="flex justify-between items-center pb-quarter">
			<div class="text-0.8em mr-2">© Overdog</div>
			<a rel="noopener noreferrer" href="https://www.3ejoueur.com" target="_blank" title="3e joueur">
				<svg class="h-1.25 w-1.25 fill-[#869ab3]"><use xlink:href="#logo-3ejoueur"></use></svg>
			</a>
		</div>
	</div>
</footer>
