{# 
-------------------------------------------------------------------
   Footer
-------------------------------------------------------------------
#}	
<footer class="container pb-quarter">
   <div class="text-5">{{ "© #{'now'|date('Y')} • #{currentSite.group.name}" }}</div>
</footer>