{# 
   Language Switcher with Switcher plugin

   If you want a custom source for the switcher, set langCustomSource = [] in your template
   or langCustomSource = category (example).

   Docs and params list : https://github.com/ianreidlangevin/craftcms-switcher 

#}
{% set languages = langSwitcher(langCustomSource|default(entry ?? null)) %}

{% if languages|length %}
   {% for item in languages %}
      <a href="{{ url(item.url) }}" hreflang="{{item.site.language}}" lang="{{item.site.language}}">
         {{ item.site.language [0:2]|capitalize }} {# output only the first two letters #}
      </a>
   {% endfor %}
{% endif %}