<div class="mega-nav" role="navigation">
  <div class="container mega-nav__container">
    <div class="row">
      <div class="col-12">
        <nav class="menu__nav" aria-label="{{ 'Main menu'|t }}">Hello superstar!</nav>
      </div>
    </div>
  </div>
</div>
