
<div class="navbar">
	<div class="container navbar__container">
		<div class="navbar__logo-wrapper">
			<a class="navbar__logo" id="logo" href="{{ alias('@rootUrl') }}" title="{{ siteName }}" aria-label="{{ 'Homepage'|t }}" rel="home">
				<svg class="navbar__logo-img"><use xlink:href="{{ alias('@iconsUrl') }}#logo-overdog"></use></svg>
			</a>
		</div>
		<button class="navbar__hamburger" type="button" aria-label="menu button">
			<span class="hamburger__box"><span class="hamburger__inner"></span></span>
		</button>
	</div>
	{% include "_navigation/menu" %}
</div>
